data/
.DS_Store
notebooks/.ipynb_checkpoints/nfl_weeks_retriever-checkpoint.ipynb
notebooks/.ipynb_checkpoints/nfl_weeks_retriever-checkpoint.ipynb
notebooks/nfl_weeks_retriever.ipynb
notebooks/weather_scraper_DC.ipynb
scripts/preprocessing_nfl.py
scripts/preprocessing_rideshare.py
notebooks/sakura_webapp_bk.txt
scripts/model_long.sav
scripts/model_long_not_working.sav
scripts/model_short.sav
scripts/model_short1569551460.sav
scripts/model_short1569552630.sav
scripts/model_short1569553809.sav
scripts/model_short1569577496.sav
scripts/model_short1569587794.sav
scripts/model_short1569589707.sav
scripts/model_short1569605976.sav
scripts/model_short1569606288.sav
scripts/model_short_not_working.sav
scripts/saved models/
